@model IEnumerable<GenC.Entity.Agendamentos>

@{
    ViewBag.Title = "Eventos";
}
<table id="tblHome">
    <tr>
        <td>Titulo</td>
        <td>Data</td>
        <td>Cidade</td>
        <td>Estado</td>
        <td>Opções</td>
    </tr>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            var dados;

            $.ajax({
                type: "GET",
                url: `/Consulta/BuscarEventos`,
                contentType: "application/json; charset=utf-8",
                async: false,
                dataType: "json",
                success: function (res) {
                    if (res != null) {
                        dados = res.data;
                    }
                },
                error: function (a, b, c) {
                    console.log(a.responseText, b, c);
                }
            })
            /*
             render: function (data, type, full, meta) {
                            return '<a target="_blank" href="/Portal/pages/upload_documentos.html?prm_numProposta=' + full.id_proposta + '"><img src="../dist/img/search-engine.svg" style="width: 2em"></a>'
                        }
             */
            $('#tblHome').DataTable({
                data: dados,
                paging: true,
                pagingType: "full",
                destroy: true,
                scrollX: true,
                ordering: false,
                responsive: {
                    details: true
                },
                select: false,
                searching: false,
                lengthMenu: [10, 20, 30],
                pageLength: 10,
                columns: [
                    {
                        data: 'id_proposta'
                    },
                    {
                        render: function (data, type, full, meta) {
                            return formataCPF(full.cpf_cliente);
                        }
                    },
                    {
                        render: function (data, type, full, meta) {
                            var date = full.datas.envio.replace(/\D/g, "-");
                            var dtFinal = new Date(date);
                            return dtFinal.toLocaleString('pt-BR', { year: "numeric", month: "numeric", day: "numeric" });
                        }
                    }
                ],
                columnDefs: [
                    {
                        "searchable": false,
                        "orderable": false,
                        "targets": "_all"
                    },
                    {
                        "targets": [0],
                        "responsivePriority": 1
                    },
                    {
                        "targets": [1],
                        "responsivePriority": 2,
                        "className": "center-td",
                        "width": "3em"
                    }, {
                        "targets": [3],
                    }
                ]
            });
        });
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.ChaveGoogle" async defer></script>
}
